<h3>List of ships</h3>
<ul>
    <% ships.forEach(function(ship) { %>
        <li><%= ship.name %>
            <ul>
                <li>ID: <%= ship.id %></li>
                <li>Type: <%= ship.type %></li>
                <li>Length: <%= ship.length %></li>
                <li>
                    <a href="<%= ship.self %>">View ship</a>
                </li>
            </ul>
        </li>
    <% }) %>
</ul>
<a href="<%= nextPageLink %>">More results</a>